img {
display:flex;
margin-left:auto;
margin-right:auto;
width:48.8%;
height:50%;
}
h1 {
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
}

body {
    background: linear-gradient(180deg, #e9ead6,#51e2f5);
    height: 100vh;
}

a {
    color: rgb(60, 60, 253);
    text-decoration: none;
}